In [1]:
import pandas as pd

In [2]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/02 08:02:58 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

## Q1 solution

In [3]:
!pyspark --version

Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /___/ .__/\_,_/_/ /_/\_\   version 3.3.2
      /_/

Using Scala version 2.12.15, OpenJDK 64-Bit Server VM, 11.0.2
Branch HEAD
Compiled by user liangchi on 2023-02-10T19:57:40Z
Revision 5103e00c4ce5fcc4264ca9c4df12295d42557af6
Url https://github.com/apache/spark
Type --help for more information.

In [3]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz

--2023-03-02 07:24:48--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230302%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230302T072448Z&X-Amz-Expires=300&X-Amz-Signature=2658a4044cb03836b6dc0ff426366cc569cb864b8e02a5436aa6fa519870a907&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-03-02 07:24:48--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230302%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230302T072448Z&X-Amz-Expires=300&X-Amz-Signature=2658a4044cb03836b6dc0ff426366cc569cb864b8e02a5436aa6fa519870a907&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 175799316 (168M) [application/octet-stream]
Saving to: ‘fhvhv_tripdata_2021-06.csv.gz’

fhvhv_tripdata_2021 100%[===================>] 167.66M  60.6MB/s    in 2.8s

2023-03-02 07:24:51 (60.6 MB/s) - ‘fhvhv_tripdata_2021-06.csv.gz’ saved [175799316/175799316]

In [4]:
from pyspark.sql import types

In [5]:
df=pd.read_csv("fhvhv_tripdata_2021-06.csv")

In [6]:
df.head()

,dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,SR_Flag,Affiliated_base_number
0,B02764,2021-06-01 00:02:41,2021-06-01 00:07:46,174,18,N,B02764
1,B02764,2021-06-01 00:16:16,2021-06-01 00:21:14,32,254,N,B02764
2,B02764,2021-06-01 00:27:01,2021-06-01 00:42:11,240,127,N,B02764
3,B02764,2021-06-01 00:46:08,2021-06-01 00:53:45,127,235,N,B02764
4,B02510,2021-06-01 00:45:42,2021-06-01 01:03:33,144,146,N,NaN

In [10]:
#!gunzip fhvhv_tripdata_2021-06.csv.gz

In [7]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True),
    types.StructField('Affiliated_base_number', types.StringType(), True)
])

In [8]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhvhv_tripdata_2021-06.csv')

In [9]:
df = df.repartition(12)

In [10]:
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [11]:
df.write.parquet('fhvhv/2021/06/')

## Q2 Solution

In [17]:
!ls -ltr fhvhv/2021/06/

total 277112
-rw-r--r-- 1 jainendra jainendra 23654694 Mar  2 08:05 part-00003-621caa63-4435-4eb0-b09b-4044799e33d4-c000.snappy.parquet
-rw-r--r-- 1 jainendra jainendra 23649658 Mar  2 08:05 part-00002-621caa63-4435-4eb0-b09b-4044799e33d4-c000.snappy.parquet
-rw-r--r-- 1 jainendra jainendra 23645017 Mar  2 08:05 part-00001-621caa63-4435-4eb0-b09b-4044799e33d4-c000.snappy.parquet
-rw-r--r-- 1 jainendra jainendra 23648628 Mar  2 08:05 part-00000-621caa63-4435-4eb0-b09b-4044799e33d4-c000.snappy.parquet
-rw-r--r-- 1 jainendra jainendra 23645916 Mar  2 08:05 part-00005-621caa63-4435-4eb0-b09b-4044799e33d4-c000.snappy.parquet
-rw-r--r-- 1 jainendra jainendra 23648177 Mar  2 08:05 part-00004-621caa63-4435-4eb0-b09b-4044799e33d4-c000.snappy.parquet
-rw-r--r-- 1 jainendra jainendra 23652226 Mar  2 08:05 part-00006-621caa63-4435-4eb0-b09b-4044799e33d4-c000.snappy.parquet
-rw-r--r-- 1 jainendra jainendra 23642904 Mar  2 08:05 part-00007-621caa63-4435-4eb0-b09b-4044799e33d4-c000.snappy.parquet
-rw-r--r-- 1 jainendra jainendra 23640367 Mar  2 08:06 part-00008-621caa63-4435-4eb0-b09b-4044799e33d4-c000.snappy.parquet
-rw-r--r-- 1 jainendra jainendra 23646017 Mar  2 08:06 part-00009-621caa63-4435-4eb0-b09b-4044799e33d4-c000.snappy.parquet
-rw-r--r-- 1 jainendra jainendra 23629168 Mar  2 08:06 part-00011-621caa63-4435-4eb0-b09b-4044799e33d4-c000.snappy.parquet
-rw-r--r-- 1 jainendra jainendra 23638458 Mar  2 08:06 part-00010-621caa63-4435-4eb0-b09b-4044799e33d4-c000.snappy.parquet
-rw-r--r-- 1 jainendra jainendra        0 Mar  2 08:06 _SUCCESS

In [39]:
from pyspark.sql.functions import *

df=df.withColumn("date_type",to_date("pickup_datetime"))

## Q3 solution

In [45]:
df.select('pickup_datetime', 'dropoff_datetime', 'PULocationID', 'DOLocationID') \
  .filter(df.date_type == '2021-06-15')\
  .count()

452470

In [53]:
df2=df \
    .withColumn('DiffInSeconds',col("dropoff_datetime").cast("long") - col('pickup_datetime').cast("long"))\
    .withColumn("DiffInHours",round(col("DiffInSeconds")/3600))

## Q4 Soution

In [56]:
df2.select(max(df2.DiffInHours)).show()

+----------------+
|max(DiffInHours)|
+----------------+
|            67.0|
+----------------+

## Q6 Solution

In [88]:
df3= df2\
    .filter(df2.date_type > '2021-05-31')\
    .filter(df2.date_type < '2021-07-01')\
    .groupBy("PULocationID")\
    .count()\
    .sort(col("count").desc())

In [89]:
df3.show()

+------------+------+
|PULocationID| count|
+------------+------+
|          61|231279|
|          79|221244|
|         132|188867|
|          37|187929|
|          76|186780|
|         231|164344|
|         138|161596|
|         234|158937|
|         249|154698|
|           7|152493|
|         148|151020|
|          68|147673|
|          42|146402|
|         255|143683|
|         181|143594|
|         225|141427|
|          48|139611|
|         246|139431|
|          17|138428|
|         170|137879|
+------------+------+
only showing top 20 rows

In [90]:
df_zone = spark.read \
    .option("header", "true") \
    .csv('taxi+_zone_lookup.csv')

In [91]:
df_zone.filter(df_zone.LocationID==61).show()

+----------+--------+-------------------+------------+
|LocationID| Borough|               Zone|service_zone|
+----------+--------+-------------------+------------+
|        61|Brooklyn|Crown Heights North|   Boro Zone|
+----------+--------+-------------------+------------+